<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>:: Joan MPR </title>
	<link rel="stylesheet" href="stylesheets/reveal.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/theme/black.css" id="theme">
	<script src="javascripts/jQuery-2.1.4.min.js"></script>
</head>
<body>
<div class="reveal">
	<div class="slides">
		<section>
			<h2>Joan MPR</h2>
			<ul>
				<li>
					<a href="/fy17/oct">FY17 Oct MPR</a>
				</li>
				<li>
					<a href="/fy17/nov">FY17 Nov MPR</a>
				</li>
				<li>
					<a href="/fy17/jan">FY17 Jan MPR</a>
				</li>
			</ul>
		</section>
	</div>
</div>
<script src="/javascripts/reveal.js"></script>
<script>Reveal.initialize();</script>
</body>
</html>