<!-- Slide 2 -->
<section>
    <section>
        <h2>Finance Data Manager</h2>
        <br />
        <ol>
            <li>RBR Chart Report</li>
            <li>Historical Trend Report</li>
            <li>Logging & Dashboard</li>
        </ol>
    </section>
    <section>
        <h2>RBR Chart Report</h2>
        <!-- what really is RBR ? TODO: ask to JC -->
        <ul>
            <li>Review of Business Research</li>
            <li>요청이 더 예쁘게 할 수 있으면 해주세요 였지만...</li>
            <li>'요구사항'대로 해줌 (피드백 포함)</li>
        </ul>
    </section>
    <section>
        <h2>RBR Chart Report</h2>
        <!-- maybe it's better to use rbr chart image -->
        <iframe class="iframe-container" src="http://mozilla.github.io/nunjucks"></iframe>
    </section>
    <section>
        <h2>Historical Trend Report</h2>
        <ul>
            <li>Global Finance Report에서 사용하는 양식</li>
            <li>Last Actual * 2 + Current Year's Forecast</li>
            <li>요구사항대로 안 할 가능성이 높아서 그냥..</li>
        </ul>
    </section>
    <section>
        <h2>Historical Trend Report</h2>
        <iframe class="iframe-container" src="http://mozilla.github.io/nunjucks"></iframe>
    </section>
    <section>
        <h2>Logging & Dashboard</h2>
        <ul>
            <li>사실 그동안 우선 순위에 밀려 방치 해뒀던 일들</li>
            <li>Asia BI를 털어버리려고 시작</li>
            <li>환율 정보, Current month 진행상황, Fiscal month 정보</li>
            <li>그리고 로그</li>
        </ul>
    </section>
    <section>
        <h2>Logging & Dashboard</h2>
        <iframe class="iframe-container" src="http://mozilla.github.io/nunjucks"></iframe>
    </section>
</section>
